@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

:root {
	--primary: rgb(199, 0, 109);
	--secondary: rgb(255, 102, 0);
}

* {
	border: none !important;
}

.title {
	font-family: 'Space Mono', sans-serif;
}

.card {
	display: block !important;
}

.banner {
	position: relative;
}

.handwritten {
	font-family: 'Nanum Pen Script', serif !important;
	text-rendering: geometricPrecision;
	letter-spacing: 0em
}

.colorful {
	background-image: linear-gradient(to right, var(--primary), var(--secondary));

	background-clip: text;
	-webkit-background-clip: text;
	color: transparent !important;
}

.main.banner h1 {
	font-size: 10vw;
	font-weight: bolder;
	
}

.banner::after {
	content: "";
	background-image: url(./images/mattia.codes.banner.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	opacity: 0.2;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.terminal {
	font-family: 'Fira Code', monospace;
	font-variant-ligatures: normal;
}

.terminal .header span {
	background: rgba(255, 255, 255, 0.2);
	margin-inline-end: 10px;
	padding: 2px;

	display: block;

	height: 13px;
	width: 13px;

	border-radius: 100%;
}

.terminal .header span:nth-child(1){
	background: linear-gradient(rgb(255, 0, 0), rgb(255, 81, 0));
}

.terminal .header span:nth-child(2){
	background: linear-gradient(rgb(255, 145, 0), rgb(255, 230, 0));
}

.terminal .header span:nth-child(3){
	background: linear-gradient(rgb(6, 184, 0), rgb(0, 255, 85));
}

.terminal ul {
	list-style: circle;
	padding-left: 30px;
}

.card {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.project-logo {
	filter: drop-shadow(0 5px 7px rgba(0, 0, 0, .2));
}

.hero.is-rounded {
	border-radius: 20px;
}


/********************************************************************************/
.with-pattern {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='rgba(255, 255, 255, .2)' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


#scene3d {
	border: 1px dotted gray !important;
	border-radius: 10px;
}
