<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{%- assign site_title = site.title | append: site.title_separator | append: site.author.nickname -%}
	{%- if page.title and page.title != site.title -%}
	<title>{{ page.title }}{{ site.title_separator }}{{ site_title }}</title>
	{%- else -%}
	<title>{{ site_title }}</title>
	{%- endif -%}
	{% seo title=false %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="/assets/css/app.css">
	<link rel="stylesheet" href="/assets/css/blog.css">
	{% feed_meta %}
</head>
